
/*Panel*/
#main-header {
  transition: all 0.3s ease;
  a {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: 32px;
  }
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  transition: width 0.3s ease;
  a {
    display: block;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    padding: 15px;
    &:hover, &:focus {
      background: linear-gradient(#484848, #383838);
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
  }
}
#close-menu {
  display: none;
}

#main-nav:target {
  width: 10%;
}
#main-nav:target + .page-wrap {
  width: 90%;
  
  #open-menu {
     display: none; 
  }
  #close-menu {
     display: block;
  }
  #main-header {
    width: 90%;
    left: 10%;
  }
}